:root {
    --base:#FFFFFF;
    --basea:rgba(255,255,255,0.7);
    --70p:#CBFFDF;
    --50p:#CBF0FA;
    --20p: #AAF0E0;
    --zed:#093242;

    --gutter: 15px;
    --fluff: 10px;
    --indent: 3px;
    --border-rad: 1rem;

    --locked-texture: url('assets/texture/texture_locked.png');
    --locked: #00000050;
    --project-status-size: 100px;

    --sans-default: Geist Mono, Roboto, sans-serif;
    --sans-bold: hm-print, sans-serif;
    --typewriter: typewriterA602;
    --halb-mono: ProFontWindows;
    --display-johanneke: Johanneke;
    --display-skid: VtksEntulho;
}

@font-face {
    font-family: typewriterA602;
    src: url('assets/fonts/typewriterA602.ttf');
}

@font-face {
    font-family: ProFontWindows;
    src: url('assets/fonts/ProFontWindows.ttf');
}

@font-face {
    font-family: Johanneke;
    src: url('assets/fonts/Johanneke.ttf');
}

@font-face {
    font-family: VtksEntulho;
    src: url('assets/fonts/Vtks\ Entulho.ttf');
}

@font-face {
    font-family: hm-print;
    src: url('assets/fonts/印品鸿蒙体.ttf');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  font-size: 20px;
}

body {
  background-color: var(--base);
  width: 100%;
  min-height: calc(100% - 300px);
  padding: 0;
  margin: 0;
  font-family: var(--sans-default), sans-serif;
  color: var(--zed);
}

a {
    text-decoration: none;
    color: inherit;
}

p.yap-intro {
    line-height: 1.5rem;
    margin: var(--fluff) 0;

    sup {
        line-height: 0;
    }
}

ol {
    margin-left: var(--gutter);
    list-style-position: inside;
}

ul.indent-star {
    list-style-image: url(assets/pix-star.png);
    list-style-position: outside;
    line-height: 1.5rem;
    padding: 2px; /** make up for the star image width **/

    li {
        padding-left: var(--indent);
    }
}

.indent-naked {
    list-style: none;
    padding: none;
}

nav {
    z-index: 999;
    position: fixed;
    bottom: 0;
    right: 0;
    width: fit-content;
    padding: var(--fluff) var(--gutter);
    background: linear-gradient(to left, var(--70p), transparent);

    div {
        display: inline-block;
        * {
            margin: 0 var(--fluff);
        }
    }
}

nav::before {
    -webkit-mask-image:-webkit-gradient(linear, right top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0));
}

figure {
    padding: var(--fluff);
    border: 2px solid var(--50p);
    height: 250px;
    min-height: 250px;
    max-height: 500px;
}

footer {
    position: relative;
    margin-top: auto;
    min-height: 300px;
    height: fit-content;
    width: 100%;
    border-top: 2px solid var(--50p);
    padding-top: var(--gutter);

    .site-map {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-template-rows: auto;
        grid-template-areas: 
        "main etc fun img "
        "main etc fun img "
        "main etc . . "
        "main etc . . ";
        gap: var(--gutter);
        width: 70%;
        margin: 0 auto;
    }

    .map-branch {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
    }

    .branch-main {
        grid-area: main;
    }

    .branch-etc {
        grid-area: etc;
    }

    .branch-fun {
        grid-area: fun;
    }

    .branch-img {
        grid-area: img;

        img {
            width: auto;
            max-width: 100%;
            max-height: 50%;
        }
    }
}

hr {
    border: none;
    border-bottom: 2px dashed var(--50p);
}

.page {
    height: 100vh;
    width: 100vw;
}

/** project control **/
div#projects {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 15% 85%;
    height: 100vh;
    min-height: fit-content;
    max-height: 200vh;
    width: 100%;
    overflow: wrap; /* unsure */

    .project-brief {
        height: 100%;
        padding: var(--fluff) var(--gutter);
    }
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 95%;
    margin: 0 auto;
}

.projects-container .project-preview {
    position: relative;
    width: 100%;
    height: fit-content;
    font-family: var(--halb-mono);
    color: var(--20p);
    image-rendering: pixelated;
    text-shadow:
        1px 1px 0 black,
        -1px 1px 0 black,
        -1px -1px 0 black,
        1px -1px 0 black;
}

.projects-container .project-preview:hover {
    color: var(--base);
}

.project-under-construction div::after {
    display: inline-block;
    background-image: url('assets/icons/barricade_ii_construction.gif');
    background-size: var(--project-status-size);
    position: absolute;
    top: calc(0px - var(--project-status-size)/3);
    right: calc(0px - var(--project-status-size)/3);
    content: "";
    height: var(--project-status-size);
    width: var(--project-status-size);
}

.project-preview-sneak {
    width: 100%;
    
    img {
        width: 100%;
        height: auto;
    }

    span {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: var(--fluff);
    }
}

.flex {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

/** text mods **/
.header {
    font: 2rem var(--sans-default);
}

.label {
    font: 1.45rem var(--typewriter), serif;
    text-transform: capitalize;
}

.sublabel {
    font: 1.2rem var(--halb-mono), var(--sans-default);
    text-transform: uppercase;
}

.larger-text {
    font-size: 3rem;
}

.large-text {
    font-size: 2.2rem;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.capitalize {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

.center-text {
    text-align: center;
}

.farbe-seaweed {
    color: #1acaa1;
}

span.emoji {
    font-family: var(--halb-mono), 'Courier New', Courier, monospace;
    padding: 0px 3px;
    color: var(--base);
    background-color: var(--20p);
    border-radius: 3px;
}

span.kemoji {
    font-family: var(--halb-mono), 'Courier New', Courier, monospace;
    padding: 0px 3px;
    color: #000;
    background-color: #fff;
    border-radius: 3px;
    /** how to set img height.. line-height? then 100%? **/
}

/** pos custom **/
.centerx2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.padding-indent {
    padding: var(--indent);
}

.padding-xtra {
    padding: calc(var(--gutter)*2);
}

/** div custom **/
.container-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;

    div {
        flex: 50%;
        width: 50%;
        max-width: 50%;
        padding: var(--gutter) 0;

        * {
            max-width: 100%;
        }
    }
}

div.d70p {
    width: 70%;
}

div.d60p {
    width: 60%;
}

div.d40p {
    width: 40%;
}

div.d30p {
    width: 30%;
}

div#intro {
    display: flex;
    flex-direction: column;
    height: fit-content;
    min-height: 85%;
    margin: var(--gutter);
}

#intro-author-img {
    width: 80%;
}

div.trivia {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    min-height: 30%;
    height: 30%;
    min-width: 100%;
    width: 100%;
    margin-top: var(--gutter);
}

#trivia-container {
    flex: 1 0 0;
    min-height: 50%;
    height: fit-content;
    min-width: 100%;
    width: 100%;
    padding: var(--fluff) 0;
    /** adding overflow rules hides text scare :( **/
}

div#contact {
    padding: var(--gutter);
    height: 30vh;
    width: 100vw;
}

.contact-grid {
    display: grid;
    grid-template: 100% / auto auto auto;

    span {
        font-family: var(--sans-bold);
        position: absolute;
        width: fit-content;
        overflow-wrap: normal;
        left: 0;
        margin: auto;
        padding: 2px;
        text-align: center;
        transition: 300ms ease;
    }

    span:hover {
        text-shadow: var(--base) 0 0 10px;
    }

    .grid-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        
        a {
            width: fit-content;
        }
    }
    
    a.github {
        display: inline-block;
        height: fit-content;
        width: 30%;
        max-width: 30%;
        transform: rotate(5deg);

        img {
            width: 100%;
            max-width: 100%;
        }
    }

    div.email {
        display: inline-block;
        height: fit-content;
        width: 30%;
        max-width: 30%;
        transform: rotate(-11deg);

        img {
            width: 100%;
            max-width: 100%;
        }
    }

    a.slack {
        display: inline-block;
        height: fit-content;
        width: 30%;
        max-width: 30%;
        transform: rotate(-32deg);

        img {
            width: 100%;
            max-width: 100%;
        }
    }
}

.abs-v-center {
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.mini-resume {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    
    width: 60%;
    min-width: 60%;
    max-width: 100%;
    padding: var(--fluff);
    margin: var(--gutter);
    border: 2px solid var(--zed);

    span {
        margin-bottom: var(--fluff);
    }

    ol {
        padding-left: var(--gutter);
        list-style: lower-greek;
    }
}

.center {
    align-content: center;
    justify-content: center;
    margin: auto;
}

/** interactable **/
button {
    font: inherit;
    color: inherit;
    background: none;
    border: none;
    border-radius: 0;
    cursor: pointer;
}

:disabled {
    cursor: not-allowed;
}

/** interactable custom **/
.locked {
    background: var(--locked-texture);
    color: var(--locked);
}

button.locked {
    background: var(--locked) var(--locked-texture);
    background-size: 55%;
    color: var(--base);
    border: 1px solid var(--locked);
}

.modular-btn {
    font-family: var(--halb-mono);
    height: fit-content;
    width: fit-content;
    padding: var(--fluff) var(--gutter);
}

.rigid-btn {
    padding: 3px 6px;
    background-color: var(--70p);
    border: solid 1px var(--base);
}

.glass-btn {
    padding: 3px 6px;
    background-color: #CBFFDF80;
    border: solid 1px var(--base);
    backdrop-filter: blur(10px);
}

.clear-btn {
    background: none;
    background-color: none;
    border: solid 1px var(--base);
}

/** display mods **/
.circle {
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-align: center; /* Optional: for multiline text */
}

.blur {
    backdrop-filter: blur(10px);
}

/** cursor mess **/
.cur-none {
    cursor: none;
}

.cur-help {
    cursor: help;
}

.cur-pointer {
    cursor: pointer;
}

div.demo {
    padding: var(--fluff) var(--gutter);
    gap: var(--fluff);
}

.logo {
    width: 100px;
}

/** image mods **/
img.demo {
    position: relative;
    vertical-align: text-top;
    max-height: 92%;

    z-index: 1;
    transition: .5s ease;
    transition-delay: 300ms;
    transform: scale(1);
}

img.demo:hover {
    z-index: 999;
    transform: scale(2);
}

img.fill {
    height: 100%;
    width: 100%;
}

.mask-dither-ball {
    mask: url('assets/texture/mask_ball_dither_fade.png');
    mask-size: 100%;
}

/** TESTING AREA DONT TOUCH!!!! **/
/** unless certified **/
.char-wrapper {
    position: absolute;
    z-index: 0;

    height: 100%;
    width: 100%;

    user-select: none;
    cursor: default;
}

.w-b {
    background-color: black;
    color: white;

    button {
        background-color: #00000080;
    }
}

.wort {
    position: relative;
    margin-right: 1rch;
    margin-bottom: inherit;
    display: inline-block;

    will-change: transform;
}

.char {
    position: relative;
    display: inline-block;
    font-size: inherit;

    will-change: transform;
}

.noise {
    position: auto; /** used to be relative, waiting for a problem **/

    /** divs in the noise will be free from it 
    div {position:relative;}*/
}

.noise::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 100%;
    width: 100%;
    filter: contrast(170%) brightness(1000%);
}

.rl-noise::before {
    background: linear-gradient(to right, #0015FF90, transparent),
    url(https://grainy-gradients.vercel.app/noise.svg);
}

.lr-noise::before {
    background: linear-gradient(to left, #0015FF90, transparent),
    url(https://grainy-gradients.vercel.app/noise.svg);
}

nav.lr-noise div {
    position: relative;
}
body.noise,
body.noise::before {
    min-height: 200vh;
    height: 100%;
}

.intro-noise::before {
    z-index: -1;
    height: 100%;
    background: linear-gradient(140deg, #0015FF80 30%, transparent),
    radial-gradient(circle at top left, white, transparent 500px),
    radial-gradient(circle at 32% 0%, springgreen, transparent 250px), /** coords x,y **/
    radial-gradient(circle at 90% 50%, springgreen, transparent 600px),
    radial-gradient(circle at 60% 22%, white, transparent 400px),
    url(https://grainy-gradients.vercel.app/noise.svg);
}

.dynamic-eqgrid {
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-template-rows: 500px;
    grid-auto-rows: 500px;
    gap: var(--fluff);
    overflow: hidden;
    padding: var(--fluff);

    > * {
        width: 100%;
        height: 100%;
        border: 2px solid var(--basea);
    }
}

/* 1, 4, 7 */
.dynamic-eqgrid > :nth-child(3n-2) {
    background-color: var(--basea);
}
/* 1-2-3; 4-5-6; 7-8-9; */
.dynamic-eqgrid > :nth-child(3n-1) {
    background-color: var(--20p);
}
.dynamic-eqgrid > :nth-child(3n) {
    background-color: var(--50p);
}

.rainsquared {
    width: 100%;
    background: repeating-linear-gradient(60deg, red 10px, yellow 200px, springgreen 300px, cyan 400px, magenta 500px, red 550px);
}

.csr-piencat {
    cursor:url('https://www.rw-designer.com/cursor-view/229089.png'),auto !important;
}

.csr-notexture {
    cursor:url('https://www.rw-designer.com/cursor-view/229237.png'),auto !important;
}

.cursor-fieldset {
    height: 80%;
    width: max(70%, 350px);
    float: right;
    border: 5px dotted var(--basea);
    margin-right: var(--gutter);

    legend {
        font-family: var(--display-johanneke);
        font-size: 1.4rem;
    }

    div {
        padding: 0 var(--fluff);
    }
}