main {
    padding: 60px var(--gutter) 0 var(--gutter);    
    height: 100%;
}

html {
    overflow-x: hidden;
}

.project-page {
    transition: opacity 0.5s ease;
}

/** for <html> **/
.page-hidden {
    opacity: 0;
}

.button-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: start;
    gap: var(--gutter);
    margin: 0 auto;
    font-size: 1.2em;
}

.button-container,
.projects-listed {
    min-width: 1200px;
    width: 70%;
}

.projects-listed {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    gap: var(--gutter);
    column-gap: calc(var(--gutter) / 2);
    max-width: 100%;
    margin: var(--gutter) auto;
}

.projects-listed-item {
    height: 250px;
    width: calc(100% - var(--gutter) / 2);
    border: 2px solid var(--base);
    background: var(--basea);
    backdrop-filter: blur(5px);

    cursor: pointer;
    transition: opacity .5s ease, transform .5s;

    img {
        float: left;
        height: 100%;
        max-width: 250px;
        object-fit: cover;
    }
}

.preview-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 100%;

    div, p {
        padding: 0 var(--fluff);
    }

    div {
        display: inline;
    }

    p {
        overflow: scroll;
        overflow-wrap: normal;
        scrollbar-color: var(--70p);
    }
}

.full-overlay {
    z-index: 999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hidden {
    opacity: 0;
    transform: scale(.98);
}

#project-page {
    display: flex;
    flex-direction: column;
    width: 950px;
    height: 96vh;
    background: var(--basea);
    backdrop-filter: blur(15px);
    border-left: 2px solid var(--base);
    border-right: 2px solid var(--base);
    overflow: scroll;
}

.page-controls {
    height: fit-content;
    max-height: 35px;
    min-width: max-content;
    width: 50%;
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: flex-end;
    float: right;
    flex-direction: row;
    gap: var(--fluff);
    height: fit-content;
    font-size: 1.6rem;
    margin: 5px 0;
    margin-right: var(--gutter);

    >* {
        cursor: pointer;
    }

    img {
        height: 100%;
    }
}

.project-face.spotlight {
    height: 40%;
}

.project-face {
    position: relative;
    height: fit-content;
    width: 100%;
    color: black;
    margin-bottom: var(--gutter);

    #project-title, .project-status {
        margin-left: var(--fluff);
    }

    #project-title {
        font-family: var(--sans-bold);
        font-size: 3rem;
    }

    .page-spotlight {
        height: 100%;
        width: 100%;

        img {
            min-height: 100%;
            max-height: 100%;
            width: 100%;
            max-width: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }

    div.face-text {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 0 0 3% 0;
        color: var(--base);

        #project-title {
            font-family: var(--sans-bold);
            font-size: 3rem;
            text-shadow:
                3px 3px 5px black,
                -3px 3px 5px black,
                -3px -3px 5px black,
                3px -3px 5px black;
        }
    }
}

#project-desc {
    margin: var(--fluff);
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-row: 200px;
    grid-template-areas:"type" "age"
                        "badges" "externals";
    gap: var(--gutter);
    font-family: var(--halb-mono);
    margin: var(--gutter);
}

.project-grid > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    font-size: 1.4rem;

    span.project-label {
        font-family: var(--halb-mono);
    }

    span:not(.project-label) {
        font-weight: bold;
    }
}

.java-badge::before {
    background-image: url('https://images.icon-icons.com/1447/PNG/512/32432hotbeverage_98916.png');
}
.python-badge::before {
    background-image: url('https://images.emojiterra.com/google/android-11/512px/1f40d.png');
}
.pillow-badge::before {
    background-image: url('https://storkland.com/cdn/shop/products/780-1568_SharkFurryNeckPillow.png?v=1674153304&width=1920');
}
.kicad-badge::before {
    background-image: url('https://avatars.githubusercontent.com/u/3374914?s=280&v=4');
}
.pcb-badge::before {
    background-image: url('https://cdn-icons-png.flaticon.com/512/2399/2399658.png');
}
.html5-badge::before {
    background-image: url('https://cdn-icons-png.flaticon.com/512/1532/1532556.png');
}
.css-badge::before {
    background-image: url('https://cdn-icons-png.flaticon.com/512/1062/1062304.png');
}

.js-badge::before {
    background-image: url('https://cdn-icons-png.flaticon.com/512/802/802241.png');
}

.godot-badge::before {
    background-image: url('https://img.icons8.com/?size=512&id=UGrLCnKJf6Px&format=png');
}

.pixel-art-badge::before {
    background-image: url('https://static.thenounproject.com/png/98945-200.png');
}

.project-badge::before {
    display: inline-block;
    background-size: 36px 36px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 36px;
    width: 36px;
    max-width: 50px;
    margin-right: 10px;
    content: "";
}
.project-badges {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gutter);
}

.project-badge {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid white;
    vertical-align: middle;
    line-height: normal;
    height: 44px;
    padding: 2px 5px;
}

#project-updates {
    margin: var(--fluff);

    > .label {
        font-family: var(--halb-mono);
    }
}

.project-externals li {
    margin-left: 24px;
}


#status-fin::before {
    content: "🔵";
}

#status-wip::before {
    content: "🟢";
}

#status-hiatus::before {
    content: "🟡";
}

.project-status {
    background: black;
    color: white;
    padding-right: var(--fluff);
}

@keyframes fin-glow {
    0% {text-shadow: none;}
    50% {text-shadow: blue 0 0 8px, blue 0 0 8px, blue 0 0 5px;}
    100% {text-shadow: none;}
}
.fin-glow {
    animation: 3000ms fin-glow ease-in-out infinite;
}

@keyframes wip-glow {
    0% {text-shadow: none;}
    50% {text-shadow: springgreen 0 0 8px, springgreen 0 0 5px;}
    100% {text-shadow: none;}
}
.wip-glow {
    animation: 2400s wip-glow ease-in-out infinite;
}

@keyframes hiatus-glow {
    0% {text-shadow: none;}
    50% {text-shadow: orange 0 0 8px, orange 0 0 5px;}
    100% {text-shadow: none;}
}
.hiatus-glow {
    animation: 3000s hiatus-glow ease-in-out infinite;
}


div.music-bar span {
    filter: 
    drop-shadow(1px 0 0 white) 
    drop-shadow(0 1px 0 white) 
    drop-shadow(-1px 0 0 white) 
    drop-shadow(0 -1px 0 white) 
    drop-shadow(-0.5px 0.5px 0 var(--70p)) 
    drop-shadow(0 0.5px 0 var(--70p)) 
    drop-shadow(0 0.5px 0 var(--70p))
}

div.music-bar #display-control {
    display: inline-block;
    cursor: pointer;
    height: 42px;
    width: 20px;
    background-image: url("assets/sharkboo.png");
    background-size: cover;
    background-repeat: no-repeat;
    content: "";
    flex-shrink: 0;
}

div.music-bar.hide-bar {
    width: 21px; /* makes up for border */
    height: 42px;
    padding: 0;

    >* {
        display: none;
    }
}

.hide-bar::before {
    display: none;
}

div.music-bar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    min-height: fit-content;
    height: 42px;
    overflow: hidden;
    padding-right: var(--gutter);
    border: 1px solid var(--base);
    gap: var(--fluff);

    input[type=range] {
        appearance: none;
        width: 100%;
        height: 10px;
        background: transparent;
        border: 1px solid var(--base);
        box-shadow: inset 2px 2px 0.5em var(--basea),
                    inset -2px -2px 0.5em var(--basea);
    }
    input[type=range]:focus {
        outline: none;
    }
    input[type=range]::-moz-range-thumb {
        appearance: none;
        height: 17px;
        width: 7px;
        border-radius: 3px;
        background: var(--basea);
        border-color: var(--base);
        cursor: pointer;
    }
    input[type=range]::-moz-range-progress {
        appearance: none;
        height: 100%;
        background: var(--base);
    }
}

div.music-controls {
    display: flex;
    flex-direction: row;
    gap: var(--fluff);

    >* {
        cursor: pointer;
    }
}

div.text-container {
    min-width: 300px;
    width: 300px;
    flex-grow: 1;
    min-height: 70%;
    height: 28px;
    overflow: hidden;
    border: 1px solid var(--base);
    box-shadow: inset 10px 10px 0.5em var(--basea),
                inset -10px -10px 0.5em var(--basea);
}

div.text-display {
    transform: translateX(100%);
    animation: text-scroll 15s linear infinite;
    animation-play-state: paused;
    min-width: max-content;
}

@keyframes text-scroll {
    0% {transform: translateX(100%);}
    100%{transform: translateX(-100%);}
}

div.music-seeking {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 300px;
    width: 500px;
    flex-grow: 1;
    gap: var(--fluff);

    span {
        width: fit-content;
        text-align: right;
    }
    .track-seeker {
        width: 100%;
        flex-grow: 1;
    }
}

div.volume-control {
    display: flex;
    align-items: center;
    justify-content: center;

    .volume-seeker {
        width: 100%;
        height: 100%;
    }
}

div.music-bar::before {
    z-index: -1;
    position: absolute;
    top: 0;
    right: -700px;
    width: 700px;
    height: 100%;
    background: linear-gradient(140deg, transparent 30%, var(--basea), transparent 70%);
    content: "";
    transform: translateX(0);
}
div.music-bar:hover::before {
    animation: glide-left 2000ms ease-in-out infinite;
}

@keyframes glide-left {
    0%{transform: translateX(0);}
    100%{transform: translateX(-150vw);}
}

@media screen and (max-width: 1400px) {
    html {
        font-size: 16px;
    }
    .button-container,
    .projects-listed {
        min-width: 900px;
        width: 80%;
    }
    .projects-listed-item {
        height: 200px;
        img {
            width: 200px;
            max-width: 200px;
        }
    }
}

@media screen and (max-width: 1000px) {
    div#project-page {
        min-width: 550px;
        width: 90vw;
    }
    div.text-container {
        min-width: 150px;
        width: 200px;
    }
    div.music-seeking {
        min-width: 150px;
        width: auto;
    }
    .button-container,
    .projects-listed {
        min-width: 500px;
        width: 96%;
    }
    .projects-listed-item {
        height: 160px;
        img {
            width: 160px;
            max-width: 160px;
        }
    }
}

@media screen and (max-width: 600px) {
    html {
        font-size: 14px;
    }
    div#project-page {
        min-width: 250px;
        width: 95vw;
    }
    div.text-container {
        min-width: 100px;
        width: 140px;
    }
    div.music-seeking {
        min-width: 150px;
        width: auto;
    }
    .button-container,
    .projects-listed {
        min-width: 400px;
        width: 98vw;
    }
    .projects-listed-item {
        height: 120px;
        img {
            width: 120px;
            max-width: 120px;
        }
    }
}