main {
    padding: var(--gutter) 0;    
    height: 100%;
}

.project-page {
    transition: opacity 0.5s ease;
}

/** for <html> **/
.page-hidden {
    opacity: 0;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-content: left;
    justify-content: start;
    gap: var(--gutter);
    width: 50%;
    margin: 0 auto;
}

.projects-listed {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    gap: var(--gutter);
    min-width: 50%;
    width: 50%;
    max-width: 100%;
    margin: var(--gutter) auto;
}

.projects-listed-item {
    height: 250px;
    width: 100%;
    border: 2px solid var(--base);
    background: var(--basea);
    backdrop-filter: blur(5px);

    transition: opacity .5s ease, transform .5s;

    img {
        float: left;
        height: 100%;
    }
}

.preview-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 100%;

    div, p {
        padding: 0 var(--fluff);
    }

    div {
        display: inline;
    }

    p {
        overflow: scroll;
        overflow-wrap: normal;
        scrollbar-color: var(--70p);
    }
}

.hidden {
    opacity: 0;
    transform: scale(.98);
}